DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/payments_db

DEBUG=True
APP_PORT=8000
APP_HOST=0.0.0.0

BANK_API_BASE_URL=https://api.mockbank.com/v1
BANK_API_KEY=your_secret_api_key_here
BANK_TIMEOUT=5.0

LOG_LEVEL=info
